#main .text,#main .line{
    position: absolute;
    z-index: 999;
    width: 800px;
    height: 300px;
    left: 50%;
    margin-left: -400px;
    top: 50%;
    margin-top: -200px;
    -webkit-transition: all 2.6s;
    -moz-transition: all 2.6s;
    -ms-transition: all 2.6s;
    -o-transition: all 2.6s;
    transition: all 2.6s;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    overflow: hidden;
}
#main .line {
    width: 0;
    height: 0;
    margin-top: 1px;
    border: 0;
    border-top: 1px solid #6b6b6b;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);;

}
#main  .line.lactive {
    width: 800px;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
#main .text1,#main .text2 {
    position: absolute;
    left: 250px;
    top: -350px;
    width: 300px;
    height: 50px;
    -webkit-transition: all 2.2s ease-in-out 2.2s;
    -moz-transition: all 2.2s ease-in-out 2.2s;
    -ms-transition: all 2.2s ease-in-out 2.2s;
    -o-transition: all 2.2s ease-in-out 2.2s;
    transition: all 2.2s ease-in-out 2.2s;

}

/*  */
#main .text1.t1Active {
    top: 50px;
}

#main .text2 {
    top: 400px
}
#main .text2.t2Active {
    top: 200px
}
#main .text p {
    font-size: 36px;
    font-family: KaiTi;
    color: #6b6b6b;
    text-align: center;
    cursor: pointer;
}
#main .ability {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

}
#main .ability.zIndex{
    z-index: 1000;
}
#main .ability .bg-box {
    position: absolute;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition:  transform 1s ;
    -moz-transition:  transform 1s ;
    -ms-transition:  transform 1s;
    -o-transition:  transform 1s ;
    transition:  transform 1s;
    width: 10%;
    height: 100%;
    background-image: url(../images/zhuye1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
#main .ability .bg-box:nth-child(1) {
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -ms-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}
#main .ability .bg-box:nth-child(2) {
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
    -ms-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}
#main .ability .bg-box:nth-child(3) {
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
}
#main .ability .bg-box:nth-child(4) {
    -webkit-transition-delay: .5s;
    -moz-transition-delay: .5s;
    -ms-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}
#main .ability .bg-box:nth-child(5) {
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -ms-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}
#main .ability .bg-box:nth-child(6) {
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0;
}
#main .ability .bg-box:nth-child(7) {
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
    -ms-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}
#main .ability .bg-box:nth-child(8) {
    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -ms-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}
#main .ability .bg-box:nth-child(9) {
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
    -ms-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}

#main .ability .bg-box.bgActive {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
#des {
    position: absolute;
    width: 800px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -200px;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    -webkit-transition: opacity 1s .6s ;
    -moz-transition: opacity 1s .6s;
    -ms-transition: opacity 1s .6s;
    -o-transition: opacity 1s .6s;
    transition: opacity 1s .6s;

}
#des.opa {
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.ability .ab-tip {
    position:absolute;
    bottom: 60px;
    width: 32px;
    height: 32px;
    left:50%;
    margin-left: -16px;
    border-top: 3px solid #fff;
    boder-left: 3px solid #fff;
    border-radius: 50%;
    transform: rotate(175deg);
    animation: ab 1s infinite alternate;
}
@keyframes ab {
    0% {
        bottom: 60px;
    }
    100% {
        bottom: 20px;
    }
}
#des div {
    margin: 5px;
    padding: 5px;
    height: 50px
}
#des h4 {
    margin-left: 200px;
    float: left;
    line-height: 50px;
    cursor: pointer;
}
#des .i {
    margin:0;
    padding: 0;
    width: 300px;
    border: 1px solid #252519;
    border-radius: 5px;
    margin-left: 300px;
    height: 3px;
    margin-top: 23px;

}
#des .i i {
    width: 0;
    display: block;
    height: 3px;
    background: #252519;
    transition: width 1.5s ;
}
#container {
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s;
}
#box {
    position: absolute;
    width: 10000px;
    height: 0;
    left: 0;
    top: 50%;
    background: #2e2e2e;
    transition: all 1.5s;
    border-bottom: 2px solid #F5F5FF;
    border-top: 2px solid #F5F5FF;
}
#box:hover {
    box-shadow: 0px 0px 22px #e7e7e3;
}
#box .bg {
    position: absolute;
    top: 50%;
    margin-top: -200px;
    width: 620px;
    height: 400px;
    transition: all 1s;
    opacity: 0;


}
#box .bg:hover>img{

    box-shadow: 0px 0px  15px #fff;
    cursor: pointer;

}
.bg > p {
    position: absolute;
    left: -30px;
    top: 20px;
    z-index: 10001;
    font-size: 14px;
    color: #fff;
    writing-mode: vertical-rl;
    transition: opacity .4s;
    opacity: 0;
}
#box  img {
    transition: all 1s;
    width: 100%;
    height: 100%;
    border-radius: 5px
}
#box .b-text {
    position: absolute;
    right: -200px;
    top: 70px;
    width: 250px;
    height: 200px;
    z-index: 10000;
    transition: all .3s;
    opacity: 0;
}
#box .b-text > a {
    display: block;
    color: #fff;
    font-size: 36px;
    font-family: Muli-Black;
    margin: 15px;
    text-decoration: none;
    transition: all .4s;
}
#box .b-text > a:nth-child(2) {
    margin-top: 40px;
    font-size: 25px;
}
#box .b-text:hover > a {
    text-shadow: 0px 0px 10px #fff;
}
#box .gitHub {
    position: absolute;
    left: 30px;
    bottom: -30px;
    width: 200px;
    height: 100px;
    opacity: 0;
    transition: opacity .6s ease-in
}
#box .bg:hover .gitHub {
    opacity: 1;
}
#box .gitHub > a {
    font-size: 26px;
    color: #fff;
    font-family: Muli-Black;

}
#box img.bgMain {
    width: 720px;
    height: 120%;
    margin-top: -40px;
}
#container .ctTip{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border-top: 1px solid #2e2e2e;
    border-left: 1px solid #2e2e2e;
    transform: rotate(45deg);
    animation: ct .9s infinite alternate;
}

@keyframes ct {
    0% {
        bottom:0;
    }
    100% {
        bottom: 100px
    }
}
#close {
    position: absolute;
    top: 0;
    left: 14;
    background: url("../images/close.png") no-repeat center;
    width: 27px;
    height: 27px;
    cursor: pointer;
    transition: all .6s;

}
#close:hover {
    transform: rotate(360deg)
}
